<ng-container *ngIf="movie else noMovie">
  <div class="title">
    <span>{{movie.name}}</span>
  </div>
  <div class="contents">
    <div class="poster" [style.background-image]="'url(' + movie.posterUrl + ')'"> </div>
    <div class="details">
      <div class="rating-container">
        <span>{{movie.rating / 10 | number:'1.1-1'}}</span>
        <div class="star-container" [style.width.%]="movie.rating * 15 / 100"></div>
      </div>
      <div class="description">
        <span>{{movie.description}}</span>
      </div>
    </div>
  </div>
</ng-container>

<ng-template #noMovie>
  <div class="contents">
    No Details
  </div>
</ng-template>

