.details-container {
  border: 1px solid gray;
  border-radius: 3px;
  margin-bottom: 10px;
}

.contents {
  display: flex;
  padding: 10px;
}

.title {
  background: darkseagreen;
  padding: 5px;
  font-size: 20px;
  font-weight: bold;
}

.rating {
  margin-bottom: 10px;
}

.description {
  background: whitesmoke;
  border-radius: 5px;
  padding: 10px;
  flex-grow: 1;
}

.poster {
}
